# Meine kleine Python-Wiederholung

**WICHTIG**: nur ganz kurz

In [1]:
name = "Darwin"

In [2]:
print(name)

Darwin

In [3]:
book_count = "1010010133"

In [4]:
type(book_count)

str

In [5]:
# book_count / 12

In [9]:
book_count = int(book_count)
type(book_count)

int

int

In [8]:
book_count / 12

84167511.08333333

In [12]:
user_entries = [1, 30, "Blub", 0.98]

In [11]:
type(eine_tolle_liste)

list

In [29]:
for user_entry in user_entries:
    print("User entry:", user_entry)
    print("-----")
    print(type(user_entry))
    
print("Ende")
print(user_entry)
print(type(user_entry))

User entry: 1
-----
<class 'int'>
User entry: 30
-----
<class 'int'>
User entry: Blub
-----
<class 'str'>
User entry: 0.98
-----
<class 'float'>
Ende
0.98
<class 'float'>

In [14]:
%who

book_count	 eine_tolle_liste	 name	 user_entries	 user_entry

In [20]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [24]:
type(book_count)

int

In [25]:
x = 5
y = 6
x
y

6

In [27]:
x = 5
y = 6
print(x)
print(y)

5
6

In [34]:
name_and_age = {"Darwin": 76, "Noether": 80}
name_and_age["Darwin"]

76

In [31]:
user_entries = [1, 30, "Blub", 0.98]
user_entries[0]

1

In [32]:
user_entries[1]

30

In [33]:
user_entries[-1]

0.98

In [35]:
name = "Darwin"

In [36]:
name[2]

'r'

In [37]:
print()

In [38]:
print("bla")

bla

In [39]:
print("bla", "blub")

bla blub

In [42]:
print("bla", "blub", 1000, sep=" ")

bla blub 1000

In [46]:
? print

In [45]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [47]:
name = "Darwin"

In [48]:
print("Great scientist number 1:", name)

Great scientist number 1: Darwin

In [58]:
print("Great scientist number 1: " + name)
number = 5
print("Great scientist number 1: " + str(number))

Great scientist number 1: Darwin
Great scientist number 1: 5

In [52]:
print("Great scientist number 1: %s." % name)

Great scientist number 1: Darwin.

In [60]:
name.upper()

'DARWIN'

In [61]:
name

'Darwin'

In [64]:
print("Great scientist number 1: {} .... {}".format(name, number))

Great scientist number 1: Darwin .... 5

In [67]:
print(f"Great scientist number 1: {name} ... {number}")

Great scientist number 1: Darwin ... 5

In [68]:
print(f"Great scientist number 1: {name} ... {number * 100}")

Great scientist number 1: Darwin ... 500

In [71]:
print(f"The age of Darwin was {name_and_age['Darwin']}.")

The age of Darwin was 76.

In [ ]:
authors = [
    {"given_name": "Darwin", "first_name": "Charles", "place": ["London", "Gall"]},
    {"given_name": "Noether", "first_name": "Emmy"}  ]